name: Daily Email
on:
  schedule:
    - cron: '0 7 * * *'  # 8 AM daily
  push: 
jobs:
  - name: Read HTML file
    id: html_content
    run: |
      CONTENT=$(cat subdirectory/email-template.html)
      echo "content<<EOF" >> $GITHUB_OUTPUT
      echo "$CONTENT" >> $GITHUB_OUTPUT
      echo "EOF" >> $GITHUB_OUTPUT

  send-email:
    runs-on: ubuntu-latest
    steps:
      - name: Send email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Daily Report
          to: ulises.torrella@gmail.com
          from: Teutuli <${{ secrets.EMAIL_USERNAME }}>
          body: Text body
          html_body: ${{ steps.html_content.outputs.content }}