name: Daily Challenge
on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * *'
jobs:
  send-email:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    
    - name: Install dependencies
      run: pip install -r daily_teutuli/requirements.txt
      
    - name: Run Python script
      env:
        GEO_COOKIE: ${{ secrets.GEO_COOKIE }}
      run: |
        cd daily_teutuli
        ls -la
        echo "Running Python script..."
        python3 main.py
    
    - name: Commit and push changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add daily_teutuli
        git commit -m "Ran daily of $(date +'%d-%m-%Y')"
        git push
        
    - name: Pull latest changes
      run: git pull

    - name: Send email
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.gmail.com
        server_port: 465
        username: ${{ secrets.EMAIL_USERNAME }}
        password: ${{ secrets.EMAIL_PASSWORD }}
        subject: Daily Report
        to: ulises.torrella@gmail.com
        from: Teutuli <${{ secrets.EMAIL_USERNAME }}>
        body: Text body
        html_body: file://daily_teutuli/output.html